services:
  backend:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - MONGO_URI=mongodb://host.docker.internal:27017/structured_enquiry
      - JWT_SECRET=supersecretkey
    restart: unless-stopped
  frontend:
    image: sudarshanknaik77/structured_enquiry_frontend:latest
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped
